.banner {
    background: linear-gradient(46deg, rgb(168 233 255) 0%, rgb(220, 204, 255) 53%, rgb(255 196 220) 100%);
    background-size: 300% 300%;
    animation: gradient-move 8s linear infinite;
    padding: 16px 8px;
    min-height: 40px;
    max-height: 49px;

    &--development-mode {
        background: #a0ff41;
        color: rgb(0, 0, 0);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 6;
        left: 6;
        border-radius: var(--cy-border-radius-large);
        z-index: 9999;
        font-size: var(--font-size-small);
        padding: 4px 8px;
        min-height: auto;
    }

    button {
        width: fit-content;
    }

    .message-primary {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0.25rem;
    }

    .message-secondary {
        color: rgba($color: #000000, $alpha: 0.6);
        font-size: 0.75rem;
    }

    .time-left {
        margin-left: 4px;
    }

    .note {
        font-size: 9px;
    }
}

@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}