.border-1 {
    border: 1px solid var(--figma-color-border);

    &-cy-border-light {
        border: 1px solid var(--cy-border-light);
    }
}

.border-1-top {
    border-top: 1px solid var(--cy-border-light);
}