.button--grain {
    background: none;
    border: none;
    color: var(--figma-color-bg-brand);
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: var(--font-size-small);
    padding: 0;
}