.chevron-right {
    /* Add this block */
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    border: solid var(--figma-color-text-secondary);
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(315deg);
}

.chevron-left {
    /* Add this block */
    position: absolute;
    left: 4px;
    top: 12px;
    transform: translateY(-50%);
    border: solid var(--figma-color-bg-brand);
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
}