.chip {
    height: var(--cy-button-height-medium);
    border-radius: var(--cy-border-radius-large);
    position: relative;
    min-width: 16px;

    background-color: var(--figma-color-bg);
    color: var(--figma-color-text) !important;
    border: 1px solid var(--cy-border-light);
    padding: 8px !important;
    cursor: pointer;

    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: var(--font-size-small);
    transition: scale 0.3s;

    &.highlighted {
        background-color: var(--figma-color-bg-brand-tertiary) !important;
        border-color: var(--figma-color-bg-brand);
    }

    &:hover {
        background-color: var(--figma-color-bg-secondary);
    }

    &:disabled {
        cursor: not-allowed;
        color: var(--button-disabled) !important;
    }

    &:enabled:focus {
        text-decoration: none !important;
    }

    &-destructive {
        &:enabled:focus {
            text-decoration: none !important;
        }
    }
}

.chip-keyboard-layout {
    display: grid;
    -moz-column-gap: 4px;
    column-gap: 4px;
    row-gap: 12px;
}

.chip-keyboard-chip-custom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    span {
        text-align: left;
    }

    input {
        height: 100%;
        padding: 0;
        text-align: right;
    }
}

// Spacing 鍵盤
.spacing-chip-keyboard-layout {
    grid-template-columns: repeat(6, 1fr);
}

.spacing-chip-keyboard-chip-custom {
    grid-column: span 4;
}

// Arrow Creator 鍵盤
.offset-chip-keyboard-layout {
    grid-template-columns: repeat(7, 1fr);
}

.offset-chip-keyboard-chip-custom {
    grid-column: span 3;
}