.color-selector-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2px;
    border-radius: var(--cy-border-radius-large);
    overflow: hidden;

    span {
        font-size: 11px;
    }

    &:hover {
        color: var(--figma-color-text);
        outline: 1.5px solid var(--figma-color-border);
    }

    &:active,
    &:focus {
        color: var(--figma-color-text);
        outline: 1.5px solid var(--figma-color-bg-brand);
    }

    /* Make parent container focus when textarea is focused */
    &:focus-within {
        outline: 1.5px solid var(--figma-color-bg-brand);
        /* Highlight border */
    }
}

.color-selector {
    display: flex;
    align-items: center;
    background-color: var(--figma-color-bg-secondary);
    padding: var(--size-xxsmall) var(--size-xxsmall) var(--size-xxsmall) var(--size-xxsmall);

    .textarea {
        padding: 0;
        border-radius: 0;

        &:hover {
            border: 0px;
            outline: none;
        }

        &:active,
        &:focus {
            border-width: 0px;
            border: none;
            outline: none;
        }
    }
}