.connect-point-container {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    column-gap: 48px;
    row-gap: 24px;
    /* Ensures a fixed distance between the two boxes */
    width: 100%;
    height: 160px;
    background-color: var(--figma-color-bg-secondary);
    padding: 16px;
    border-radius: 8px;

    &.horizontal {
        flex-direction: row;
    }

    &.vertical {
        flex-direction: column;
    }

    .connect-item {
        position: relative;
        width: 96px;
        height: 96px;
        background-color: white;
        border-radius: 12px;
        align-items: center;
        display: flex;
        justify-content: center;

        .connect-point {
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: #e2e2e2;
            border-radius: 50%;
            cursor: pointer;
            border: 3px solid white;
            // transition: background-color 0.3s;

            // &:active {
            //     scale: 0.8;
            // }

            &.topCenter {
                top: -8px;
                left: 50%;
                transform: translateX(-50%);
            }

            &.bottomCenter {
                bottom: -8px;
                left: 50%;
                transform: translateX(-50%);
            }

            &.middleLeft {
                left: -8px;
                top: 50%;
                transform: translateY(-50%);
            }

            &.middleRight {
                right: -8px;
                top: 50%;
                transform: translateY(-50%);
            }

            &.selected {
                background-color: var(--figma-color-bg-brand);
                border: 3px solid white;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .connect-point-container {
        .connect-item {
            background-color: var(--figma-color-bg-tertiary);
        }
    }
}