.context-menu {
    background: black;
    padding: 8px;
    box-shadow: var(--drop-shadow-1);
    list-style: none;
    position: fixed;
    color: white;
    border-radius: var(--cy-border-radius-xlarge);
    overflow: hidden;
    margin-block-start: 0em;
    margin-block-end: 0em;
    width: 120px;
    /* changed to fixed for positioning relative to viewport */

    li {
        color: white;
        padding: 4px 16px;
        cursor: pointer;
        border-radius: var(--cy-border-radius-small);
        margin: 0;

        &:hover {
            background-color: var(--figma-color-bg-brand);
        }

        &.destructive {
            &:hover {
                background-color: var(--figma-color-bg-danger);
            }
        }
    }

    hr {
        margin: 0.5rem 0;
        border: none;
        height: 1px;
        background-color: var(--white-opacity-30);
    }

}