.folder-navigator {
    border-radius: var(--cy-border-radius-large);
    border: 1px solid var(--cy-border-light);
    overflow: hidden;

    ul {
        list-style: none;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    li {
        margin: 0;
    }

    .container {
        margin-left: 16px;
        margin-right: 16px;

        &:first-child {
            margin-top: 16px;
        }

        &:last-child {
            margin-bottom: 16px;
        }
    }
}

.folder-navigator-items-group {
    padding: 0px;
    max-height: 160px;
    height: fit-content;
    width: 100%;
    overflow: scroll;
    // transition: all .3s;

    &-large {
        max-height: 320px;
    }

    li:last-child {

        .button-folder {

            border-bottom: none;

        }
    }

}

.folder-navigator-header {
    padding: 8px;
    min-height: 48px;
    // max-height: 48px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: var(--figma-color-bg-secondary);
}

.button-folder {
    border-bottom: 1px solid var(--cy-border-light);
    padding: 8px 16px;
    display: inline-block;
    text-align: left;
    margin: 0;
    position: relative;
    min-height: 40px;
    /* Add this line */

    &:hover {
        background-color: var(--color-bg-selected);
    }

    .chevron {
        /* Add this block */
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        border: solid var(--figma-color-text-secondary);
        border-width: 0 1.5px 1.5px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(315deg);
    }
}