.free-trial-graph {
    padding: 16px;
    border: 1px solid var(--figma-color-border);
    min-height: 240px;
    height: fit-content;
    border-radius: var(--cy-border-radius-xxxlarge);
    overflow-y: hidden;

    .vertical-step-container {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-left: 0px;

        h4 {
            padding-top: 0;
            margin-top: 0;
        }

        &::before {
            content: "";
            position: absolute;
            width: 32px;
            height: 120%;
            background: linear-gradient(180deg, #8d41ff 25%, #f6c2e8 85%, #e4e4e4);
            top: -4px;
            left: 0px;
            border-radius: 9999px;
        }
    }

    .step {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .step-icon {
        font-size: 16px;
        color: white;
        background-color: #ffffff;
        border-radius: 50%;
        padding: 10px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 4px;
    }

    .step-content {
        margin-left: 50px;

        h3 {
            margin-bottom: 5px;
            font-size: 18px;
            color: #333;
        }

        p {
            color: var(--figma-color-text-secondary);
        }
    }
}