.cy-input {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    background-color: transparent;
    color: inherit;
    height: 1.5rem;
    border-radius: var(--cy-border-radius-small);
    border: 0px;

    &:hover {
        border: 0px;
        outline: 1.5px solid var(--figma-color-border-brand);
    }

    &:focus, &:active {
        border: 0px;
        outline-color: var(--fg-focus);
        outline-width: 1.5px;
        background-color: var(--figma-color-bg);
    }
}