.list-view {
    border-radius: var(--cy-border-radius-large);
    border: 1px solid var(--cy-border-light);
    overflow: hidden;

    &-header {
        padding: 8px;
        min-height: 48px;
        // display: grid;
        // grid-template-columns: 1fr 4fr 1fr;
        background-color: var(--figma-color-bg-secondary);
    }
}