.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    /* Black with opacity */
    background-color: rgba(0, 0, 0, 0.4);
    // transition: all 0.5s ease-in-out;
    opacity: 0;
}

.modal.show {
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content {
        transform: translateY(0px);
    }
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    backdrop-filter: blur(4px);
}

.modal-content {
    position: relative;
    background-color: var(--figma-color-bg);
    padding: 16px;
    overflow-y: scroll;
    border-radius: 20px;
    min-width: calc(100% - 32px);
    max-width: calc(100% - 32px);
    max-height: calc(100% - 32px);
    margin: 16px;
    // transition: all 0.5s ease-in-out;
    // transform: translateY(10px);

    p {
        color: var(--figma-color-text-secondary);
    }
}

.close-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1;

    .icon-24 {
        backdrop-filter: var(--blur-1);
        border-radius: 9999px;
        overflow: hidden;
        background-color: var(--cy-glass-color-1);
        transition: var(--cy-animation-default);
        box-shadow: var(--drop-shadow-3);

        &:hover {
            scale: 1.2;
        }
    }
}

.close {
    color: var(--tooltip-icon);
    float: right;
    font-size: 24px;
    font-weight: bold;

    &:hover,
    &:focus {
        text-decoration: none;
        cursor: pointer;
    }
}