.pl-xxxsmall {
    padding-left: var(--size-xxxsmall);
}

.pr-xxxsmall {
    padding-right: var(--size-xxxsmall);
}

.padding-16 {
    padding: 16px !important;
}

.padding-tb-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.padding-lr-8 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}