.custom-segmented-control {
    position: relative;
    display: inline-flex;
    border-radius: var(--cy-border-radius-xlarge);
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    transition: var(--cy-animation-default);
    padding: 6px;
    background: var(--figma-color-bg-secondary);
    min-height: 40px;

    .highlight-box {
        border-radius: var(--cy-border-radius-small);
        background: var(--figma-color-bg);
        box-shadow: var(--drop-shadow-1);
        z-index: 0;
    }

    input[type="radio"] {
        display: none;

        &+label {
            transition: scale 0.3s;
        }

        &:checked+label {
            color: var(--figma-color-bg-brand);
             z-index: 1;

            * {
                fill: var(--figma-color-bg-brand);
            }
        }

        &:disabled+label {
            opacity: 0.5;
            cursor: not-allowed;
        }

        &:hover:checked+label {
            z-index: 1;
        }

        &:hover:not(:checked)+label {
            background-color: var(--figma-color-bg-tertiary);
        }

        &:active:checked+label {
            z-index: 1;
        }

        &:active:not(:checked)+label {
            background-color: var(--figma-color-bg-secondary);
            z-index: 1;
        }
    }


    label {
        position: relative;
        z-index: 1;
        display: flex;
        padding: 4px 6px;
        cursor: pointer;
        font-size: var(--font-size-large);
        width: 100%;
        justify-content: center;
        color: var(--figma-color-text);
        align-items: center;
        min-height: 28px;
        border-radius: var(--cy-border-radius-small);
    }
}

@media (prefers-color-scheme: dark) {
    .custom-segmented-control {
        background: #444444;

        .highlight-box {
            background: #2c2c2c;
            // box-shadow: 0px 1.5px 2px 0px rgba(83, 83, 83, 1) inset, 0px 0px 2px 0px rgba(83, 83, 83, 1) inset;
        }

        input[type="radio"] {
            &:checked+label {
                color: #3cadff;

                * {
                    fill: #3cadff;
                }
            }

            &:hover:not(:checked)+label {
                background-color: #383838;
            }
        }
    }
}