.subscription-background {
    padding: 16px;
    border-radius: var(--cy-border-radius-xxxlarge);
    background: var(--cy-bg-primary-dark-elevated);

    .subscription-plan-title {
        color: #000000e5
    }
}