.subscription-plan-block {
    cursor: pointer;
    border-radius: var(--cy-border-radius-xlarge);
    display: flex;
    align-items: center;
    padding: 16px;

    &.monthly {
        background: linear-gradient(46deg, rgba(204, 228, 255, 1) 0%, rgba(220, 204, 255, 1) 53%, rgba(255, 230, 240, 1) 100%);

        .plan-title {
            color: black;
        }

        .plan-title-secondary {
            color: #00000080;
        }
    }

    &.yearly {
        .plan-title {
            color: black;
        }

        .plan-title-secondary {
            color: #00000080;
        }
    }
}