//.row
.cy-table-group {
    margin: 8px 0;
    background-color: var(--figma-color-bg);
    border: 1px solid var(--figma-color-border);
    border-radius: var(--cy-border-radius-xlarge);
    overflow: hidden;
    transition: all ease 0.5s;
}

//.row-header
.cy-table-group-header {
    font-weight: 500;
    background-color: var(--figma-color-bg-secondary);
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    position: relative;
    font-size: var(--font-size-large);
    color: var(--figma-color-text);
    align-items: center;
    padding-left: 8px;
    min-height: 2.5rem;

    .dragHandle {
        opacity: 0;
    }

    &:hover {
        .dragHandle {
            opacity: 1;
        }
    }
}


//.rowContent
.cy-table-rows-wrapper {
    border-top: 1px solid var(--figma-color-border);
    display: none;

    &.visible {
        display: block;

        .cy-table-row-child:last-of-type {
            border-bottom: none;
        }
    }
}

//.row-child
.cy-table-row-child {
    display: grid;
    grid-template-columns: 1fr 4fr 6fr 1fr;
    padding: 4px 0px;
    position: relative;
    font-size: var(--font-size-small);
    color: var(--figma-color-text);
    border-bottom: 1px solid var(--figma-color-border);
    align-items: center;
    min-height: 2.5rem;
    transition: var(--cy-animation-default);

    .dragHandle {
        opacity: 0;
    }

    &:hover {
        grid-template-columns: 2fr 3fr 6fr 1fr;

        .dragHandle {
            opacity: 1;
        }
    }
}

.dragging {
    box-shadow: 0px 24px 24px -4px rgba(0, 0, 0, 0.3);
}

.table {
    // display: table;
    width: 100%;
    border-collapse: collapse;
    position: relative;

    .table-row {
        grid-template-columns: 2fr 4fr 6fr;
        display: grid;
        grid-gap: 0;
        column-gap: 0;
        font-size: var(--font-size-small);
        color: var(--figma-color-text);

        &:hover:not(.table-header) {
            background-color: var(--figma-color-bg-secondary);
        }

        &.category-title {
            position: sticky;
            top: 0;
            background-color: var(--figma-color-bg);
            backdrop-filter: blur(8px);
        }

        .table-cell {
            display: table-cell;
            padding: 8px;
            border-bottom: 1px solid var(--figma-color-border);

            .content-wrap {
                width: 100%;
                height: 100%;
                display: flex;
                text-align: left;
                align-items: center;
                // justify-content: center;
            }

            &.virtual-profile-title {
                display: flex;
                align-items: center;
                color: var(--figma-color-text-secondary);
            }

            &:first-child,
            &:nth-child(2) {
                // width: 120px;
                text-align: left;
            }



            button {
                display: none;
            }
        }

        button {
            display: none;
            background: none;
            border: none;
            color: var(--figma-color-bg-brand);
            cursor: pointer;
            text-decoration: none;
            font-weight: 500;
            font-size: var(--font-size-small);
            padding: 0;
        }

        input {
            border: none;
            border-bottom: 1px solid transparent;
            padding: 5px;
            width: 100%;
            box-sizing: border-box;
            transition: border-bottom-color 0.3s;
            height: 100%;
            background-color: transparent;
            color: inherit;

            &:hover {
                border-bottom-color: var(--figma-color-border);
            }

            &:focus {
                outline: none;
                border-bottom-color: var(--figma-color-bg-brand);
            }
        }
    }

    .table-header {
        background-color: var(--figma-color-bg-brand-tertiary);
        font-weight: 500;
        color: var(--figma-color-text);
    }
}

.table-row:hover .table-cell button {
    display: inline-block;
}