.text-center {
    text-align: center;
}

.text-color-primary {
    color: var(--figma-color-text) !important;
}

.text-color-secondary {
    color: var(--figma-color-text-secondary) !important;
}

.text-color-tertiary {
    color: var(--figma-color-text-tertiary) !important;
}

.text-color-error {
    color: var(--red) !important;
}

.font-size {
    &-xsmall {
        font-size: var(--font-size-xsmall);
    }

    &-small {
        font-size: var(--font-size-small);
    }

    &-large {
        font-size: var(--font-size-large);
    }

    &-xlarge {
        font-size: var(--font-size-xlarge);
    }
}