.text-center {
    text-align: center;
}

.text-color-primary {
    color: var(--figma-color-text);
}

.text-color-secondary {
    color: var(--figma-color-text-secondary);
}

.text-color-error {
    color: var(--red);
}