.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;

    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: var(--figma-color-text);
        color: var(--figma-color-bg);
        text-align: center;
        border-radius: var(--cy-border-radius-medium);
        padding: 5px 0;
        font-size: var(--font-size-small);
        box-shadow: var(--shadow-floating-window);
        opacity: 0;
        // transform: translateY(4px);
        // transition: opacity 0.4s ease, transform 0.3s ease;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 110%;
        left: 50%;
        margin-left: -60px;
        z-index: 3;
    }

    &:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}