.wrapper {
    display: flex;
    flex-direction: column;
}

section {
    padding: 1em;
    padding-top: 0.5rem;
    background-color: var(--figma-color-bg);
    color: var(--figma-color-text);
}

input {
    display: block;
}

.section-title {
    color: var(--figma-color-text);
}

.dp-none {
    display: none;
}

.dp-block {
    display: block;
}

.width {
    &-50 {
        width: 50%;
    }

    &-100 {
        width: 100%;
    }
}

.flex {
    display: flex;

    button {
        margin-left: 0.5em;

        &:first-child {
            margin-left: 0;
        }
    }
}

.flex-jusify-spacebetween {
    justify-content: space-between;
}

.flex-row {
    flex-direction: row;
    flex-wrap: wrap;
}

.toggle-radio {
    display: inline-flex;
    border: 1px solid var(--figma-color-text);
    border-radius: 4px;

    &>input:checked+label {
        background: var(--blue);
        color: var(--white);
        fill: var(--white);
    }

    &>input:checked+label:not(:last-of-type) {
        border-right: 1px solid #ccc;
    }

    &>input[type="radio"] {
        display: none;
    }

    &>input[disabled]+label {
        opacity: 0.5;
    }

    &>input[disabled]+label:hover {
        cursor: not-allowed;
    }

    &>input+label {
        display: inline-block;
        margin-bottom: 0;
        padding: 5px 10px;
        cursor: pointer;
        font-size: var(--font-size-small);
    }

    &>input+label:not(:last-of-type) {
        border-right: 1px solid #ccc;
    }
}

select {
    position: relative;
    width: 100%;
    border: 1px solid var(--figma-color-text);
    border-radius: 4px;
    background-image: url("data:image/svg+xml;utf8,<svg fill='var(--figma-color-text)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 98%;
    padding: 8px 16px;
    appearance: none;
    font-size: var(--font-size-xsmall);
    background-color: transparent;
    color: var(--figma-color-text);

    &:focus {
        outline: none;
    }
}

h4 {
    margin: 0;
}

.func-title {
    color: #146eff;
}

.icon-24 {
    display: inline-block;
    width: 16px;
    height: 16px;

    * {
        fill: var(--figma-color-text);
        height: 100%;
    }
}

.note {
    font-size: 0.8rem;
}

button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0.4rem 0;
}

.header-bar {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: rgba(221, 241, 255, 0.9);
    backdrop-filter: blur(4px);
    padding: 0.5rem 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.4rem;
}

.button-third {
    background-color: rgba(24, 160, 251, 0.15);
    color: var(--blue);
    border: 1px solid var(--blue);
}

@media (prefers-color-scheme: dark) {
    .textarea {
        background-color: #f7f7f7;
    }
}