import React from "react";
import { SVGprops } from "../../types/SVGprops";

const %filename: React.FC<SVGprops> = ({ color }) => {
  return (
    <svg fill={color} xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      
    </svg>
  );
};

export default %filename;
