@mixin section-gradient($r, $g, $b, $from: 0.4, $to: 0.15) {
    background: linear-gradient(
        0deg,
        rgba($r, $g, $b, $from) 0%,
        rgba($r, $g, $b, $to) 100%
    );
}

.shortcut-section {
    border-radius: var(--cy-border-radius-xlarge);
    padding: 16px;

    &.red {
        @include section-gradient(251, 44, 54);
    }

    &.orange {
        @include section-gradient(255, 105, 0);
    }

    &.yellow {
        @include section-gradient(239, 177, 0);
    }

    &.green {
        @include section-gradient(0, 201, 81);
    }

    &.blue {
        @include section-gradient(43, 127, 255);
    }

    &.cyan {
        @include section-gradient(0, 184, 219);
    }

    &.indigo {
        @include section-gradient(97, 95, 255);
    }

    &.purple {
        @include section-gradient(173, 70, 255);
    }

    &-header {
        margin-bottom: 16px;
        font-weight: 500;
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
    }

    .button--secondary {
        border: none;
        box-shadow: var(--drop-shadow-2);
        background-color: rgba(255, 255, 255, 1);
        color: var(--figma-color-text);

        &:hover {
            background-color: var(--figma-color-bg-secondary);
        }
    }
}

@media (prefers-color-scheme: dark) {
    .shortcut-section {
        .button--secondary {
            background-color: var(--figma-color-bg-secondary);
            border: 1px solid hsla(0, 0%, 100%, .2);

            &:hover {
                background-color: var(--cy-bg-secondary-dark-elevated);
            }
        }
    }
}

.magic-object-button {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--cy-border-radius-xlarge);
    margin: 0;
    cursor: pointer;
    padding: 4px;
    transition: var(--cy-animation-default);

    border: none;
    box-shadow: var(--drop-shadow-2);
    background-color: #fff;
    color: var(--figma-color-text);

    &:hover {
        background-color: var(--figma-color-bg-secondary);
        color: var(--figma-color-text-hover)
    }

    &:disabled {
        cursor: not-allowed;
        border-color: var(--button-disabled);
        color: var(--figma-color-text-disabled);
    }

    span {
        font-size: 11px;
    }
}

@media (prefers-color-scheme: dark) {
    .magic-object-button {
        background-color: var(--figma-color-bg-secondary);
        border: 1px solid hsla(0, 0%, 100%, .2);

        &:hover {
            background-color: var(--cy-bg-secondary-dark-elevated);
        }
    }
}