@use "../var" as var;

@mixin section-gradient($r, $g, $b, $from: 0.4, $to: 0.15) {
    background: linear-gradient(0deg,
            rgba($r, $g, $b, $from) 0%,
            rgba($r, $g, $b, $to) 100%);
}

.shortcut-section {
    border-radius: var(--cy-border-radius-xlarge);
    padding: 16px;

    @each $name, $rgb in var.$section-colors {
        &.#{$name} {
            @include section-gradient(nth($rgb, 1),
                nth($rgb, 2),
                nth($rgb, 3));
        }
    }

    &-header {
        margin-bottom: 16px;
        font-weight: 500;
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
    }

    .button--secondary {
        border: none;
        box-shadow: var(--drop-shadow-2);
        background-color: rgba(255, 255, 255, 1);
        color: var(--figma-color-text);

        &:hover {
            background-color: var(--figma-color-bg-secondary);
        }
    }
}

@media (prefers-color-scheme: dark) {
    .shortcut-section {
        .button--secondary {
            background-color: var(--figma-color-bg-secondary);
            border: 1px solid hsla(0, 0%, 100%, .2);

            &:hover {
                background-color: var(--cy-bg-secondary-dark-elevated);
            }
        }
    }
}

.magic-object-button {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--cy-border-radius-xlarge);
    margin: 0;
    cursor: pointer;
    padding: 4px;
    transition: var(--cy-animation-default);

    border: none;
    box-shadow: var(--drop-shadow-2);
    background-color: #fff;
    color: var(--figma-color-text);

    &:hover {
        background-color: var(--figma-color-bg-secondary);
        color: var(--figma-color-text-hover)
    }

    &:disabled {
        cursor: not-allowed;
        border-color: var(--button-disabled);
        color: var(--figma-color-text-disabled);
    }

    span {
        font-size: 11px;
    }
}

@media (prefers-color-scheme: dark) {
    .magic-object-button {
        background-color: var(--figma-color-bg-secondary);
        border: 1px solid hsla(0, 0%, 100%, .2);

        &:hover {
            background-color: var(--cy-bg-secondary-dark-elevated);
        }
    }
}