.spacing-option-custom {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    span {
        text-align: left;
    }

    input {
        height: 100%;
        padding: 0;
        text-align: right;
    }
}

.spacing-option-numbers {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 4px;
    row-gap: 12px;
}

.spacing-option-set {
    border-radius: var(--cy-border-radius-large);
}