@use "../var";

.virtual-profile-toolbar-container {
    position: sticky;
    top: 4;
    z-index: 3;
}

.virtual-profile-toolbar {
    background-color: var(--white-opacity-80);
    border-radius: 9999px;
    transition: var(--cy-animation-default);

    &.is-sticky {
        box-shadow: var(--drop-shadow-2);
        padding: 4px;
        backdrop-filter: var(--blur-1);
    }

    & button {
        transition: var(--cy-animation-default);

        &:active {
            scale: 0.8;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .virtual-profile-toolbar {
        background-color: transparent;

        &.is-sticky {
            background-color: var(--white-opacity-5);
            border: 1px solid rgba(255, 255, 255, .2);
        }

        .icon-hover {
            &:hover {
                background-color: var(--cy-glass-color-2) !important;
            }
        }
    }
}

.sticky-sentinel {
    height: 1px;
}

@mixin section-gradient($r, $g, $b, $from: 0.4, $to: 0.15) {
    background: linear-gradient(0deg,
            rgba($r, $g, $b, $from) 0%,
            rgba($r, $g, $b, $to) 100%);
}

.virtual-profile-group-header {
    &.red {
        @include section-gradient(251, 44, 54);
    }

    &.orange {
        @include section-gradient(255, 105, 0);
    }

    &.yellow {
        @include section-gradient(239, 177, 0);
    }

    &.green {
        @include section-gradient(0, 201, 81);
    }

    &.blue {
        @include section-gradient(43, 127, 255);
    }

    &.cyan {
        @include section-gradient(0, 184, 219);
    }

    &.indigo {
        @include section-gradient(97, 95, 255);
    }

    &.purple {
        @include section-gradient(173, 70, 255);
    }
}

@mixin section-bg($r, $g, $b) {
    background-color: rgba($r, $g, $b, 0.05)
}

.cy-table-rows-wrapper.visible {
    &.red {
        .cy-table-row-child {
            &:nth-child(even) {
                @include section-bg(251, 44, 54);
            }
        }
    }

    &.orange {
        .cy-table-row-child {
            &:nth-child(even) {
                @include section-bg(255, 105, 0);
            }
        }
    }

    &.yellow {
        .cy-table-row-child {
            &:nth-child(even) {
                @include section-bg(239, 177, 0);
            }
        }
    }

    &.green {
        .cy-table-row-child {
            &:nth-child(even) {
                @include section-bg(0, 201, 81);
            }
        }
    }

    &.blue {
        .cy-table-row-child {
            &:nth-child(even) {
                @include section-bg(43, 127, 255);
            }
        }
    }

    &.cyan {
        .cy-table-row-child {
            &:nth-child(even) {
                @include section-bg(0, 184, 219);
            }
        }
    }

    &.indigo {
        .cy-table-row-child {
            &:nth-child(even) {
                @include section-bg(97, 95, 255);
            }
        }
    }

    &.purple {
        .cy-table-row-child {
            &:nth-child(even) {
                @include section-bg(173, 70, 255);
            }
        }
    }
}