.virtual-profile-toolbar {
    position: sticky;
    top: 0;
    background-color: var(--figma-color-bg);
    z-index: 3;

    & button {
        transition: var(--cy-animation-default);

        &:active {
            scale: 0.8;
        }
    }
}