@import "./components/element-default";
@import "./components/input";
@import "./components/segmented-control";
@import "./components/text";
@import "./components/padding";
@import "./components/button";
@import "./components/table";
@import "./components/context-menu";
@import "./components/checkbox-group";
@import "./components/select-group";
@import "./components/position";
@import "./components/flex";
@import "./components/folder-navigator";
@import "./components/tooltip";
@import "./components/tab-bar";
@import "./components/free-trial-graph";
@import "./components/list-view";
@import "./components/chevron";
@import "./components/typography";
@import "./components/border";
@import "./components/subscription";

h2 {
    font-size: 1.4rem;
}

.boder-none {
    border: none;
}

.border-radius-none {
    border-radius: 0;
}



.margin-0 {
    margin: 0;
}

.bg-color-secondary {
    background-color: var(--figma-color-bg-secondary);
}

.scope-group {
    padding: 16px;
    border-radius: var(--cy-border-radius-large);
    border: 1px solid var(--cy-border-light);
    max-height: 160px;
    height: fit-content;
    width: 100%;
    overflow: scroll;
    transition: all .3s;

    &:hover {
        border-color: var(--cy-border-dark);
    }

    &-large {
        max-height: 320px;
    }
}

.section-title {
    color: var(--figma-color-text);
    padding: 0;
    height: var(--size-small);
    display: flex;
    justify-content: space-between;

    span {
        width: 100%;
    }

    .plain-text-button {
        background: none;
        border: none;
        color: var(--figma-color-bg-brand); // You can choose any color you prefer
        cursor: pointer;
        padding: 0;
        text-decoration: underline;
        font-size: var(--font-size-xsmall);
        width: fit-content;
        text-wrap: nowrap;
        font-weight: var(--font-weight-bold);

        &:hover {
            color: #0084DC;
        }

        &:focus {
            outline: none;
        }
    }
}



.note {
    font-size: var(--font-size-xsmall);
    color: var(--figma-color-text-secondary);
    display: block;

    &-xlarge {
        font-size: var(--font-size-xlarge);
    }

    &.error {
        color: var(--figma-color-text-danger);
    }

    &.success {
        color: var(--figma-color-text-success);
    }

    a {
        color: var(--figma-color-text-secondary);
    }
}



.padding-16 {
    padding: 16px;
}

.border-radius-large {
    border-radius: var(--cy-border-radius-large);
}

.textarea {
    font-family: 'Inter', sans-serif;
    border-radius: var(--cy-border-radius-large);
    background-color: var(--figma-color-bg-secondary);
    color: var(--figma-color-text-secondary);
    font-size: var(--font-size-small);
    min-height: 48px;
    border: 1px solid var(--figma-color-bg-secondary);
    // transition: all 0.3s;

    &.code {
        resize: vertical;
    }

    &:hover {
        color: var(--figma-color-text);
        border: 1px solid var(--figma-color-border);
    }

    &:active,
    &:focus {
        color: var(--figma-color-text);
        border-width: 2px;
    }

    &::placeholder {
        color: var(--figma-color-text-secondary);
        opacity: .8;
    }
}

.banner {
    background-color: var(--cy-purple-100);
    padding: 0.5rem 1rem;

    &--development-mode {
        background-color: #a0ff41;
        color: rgb(0, 0, 0);
        text-align: center;
    }

    button {
        width: fit-content;
    }

    .message-primary {
        font-size: 1rem;
        font-weight: 600;
    }

    .message-secondary {
        color: rgba($color: #000000, $alpha: 0.6)
    }

    .time-left {
        margin-left: 4px;
    }

    .note {
        font-size: 9px;
    }
}

.dragHandle {
    padding: 8px;
    cursor: grab;
    color: rgb(0, 0, 0, 0.5);
}


.arrowIcon {
    cursor: pointer;
    transition: transform 0.3s ease;

    &.collapsed {
        transform: rotate(0deg);
    }

    &.expanded {
        transform: rotate(90deg);
    }
}

.virtual-profile-toolbar {
    position: sticky;
    top: 0;
    background-color: var(--figma-color-bg);
    z-index: 3;
}

@mixin color-thumbnail {
    width: 20px;
    height: 20px;
}

.color-thumbnail {
    transition: all 0.3s ease;

    &-style {
        @include color-thumbnail();
        border-radius: 999px;
    }

    &-variable {
        @include color-thumbnail();
        border-radius: var(--cy-border-radius-small);
    }
}

.list-style-none {
    list-style: none;
    padding-inline-start: 0;
}

.width-auto {
    width: auto;
}

.free-trial-modal {
    .cta-message {
        font-size: 14px;
    }
}

.about-spaciiing {
    display: grid;
    // grid-template-columns: repeat(1, 1fr);
    // grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0.4rem;
    grid-row-gap: 0.4rem;

    // &>.block1 {
    //     grid-area: 1 / 1 / 2 / 2;
    // }

    // &>.block2 {
    //     grid-area: 1 / 2 / 2 / 3;
    // }

    // &>.block3 {
    //     grid-area: 2 / 1 / 3 / 3;
    // }
}

.property-clipboard-header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
}