@mixin colorPalette {
    // White
    --white-opacity-0: rgba(255, 255, 255, 0);
    --white-opacity-5: rgba(255, 255, 255, 0.05);
    --white-opacity-10: rgba(255, 255, 255, 0.1);
    --white-opacity-20: rgba(255, 255, 255, 0.2);
    --white-opacity-30: rgba(255, 255, 255, 0.3);
    --white-opacity-40: rgba(255, 255, 255, 0.4);
    --white-opacity-50: rgba(255, 255, 255, 0.5);
    --white-opacity-60: rgba(255, 255, 255, 0.6);
    --white-opacity-70: rgba(255, 255, 255, 0.7);
    --white-opacity-80: rgba(255, 255, 255, 0.8);
    --white-opacity-90: rgba(255, 255, 255, 0.9);
    --white-opacity-100: rgba(255, 255, 255, 1);

    // Black
    --black-opacity-0: rgba(0, 0, 0, 0);
    --black-opacity-5: rgba(0, 0, 0, 0.05);
    --black-opacity-10: rgba(0, 0, 0, 0.1);
    --black-opacity-20: rgba(0, 0, 0, 0.2);
    --black-opacity-30: rgba(0, 0, 0, 0.3);
    --black-opacity-40: rgba(0, 0, 0, 0.4);
    --black-opacity-50: rgba(0, 0, 0, 0.5);
    --black-opacity-60: rgba(0, 0, 0, 0.6);
    --black-opacity-70: rgba(0, 0, 0, 0.7);
    --black-opacity-80: rgba(0, 0, 0, 0.8);
    --black-opacity-90: rgba(0, 0, 0, 0.9);
    --black-opacity-100: rgba(0, 0, 0, 1);

    /* spaciiing色盤 color palette */
    --cy-purple-50: #f6f4ff;
    --cy-purple-100: #f0ebff;
    --cy-purple-200: #e1d7ff;
    --cy-purple-300: #c5aefe;
    --cy-purple-400: #ae89fe;
    --cy-purple-500: #9d66fd;
    --cy-purple-600: #8f38ff;
    --cy-purple-700: #7720db;
    --cy-purple-800: #6515bc;
    --cy-purple-900: #54149e;
    --cy-purple-950: #380e6b;
}

$section-colors: (
    red: (251, 44, 54),
    yellow: (239, 177, 0),
    green: (0, 201, 81),
    blue: (43, 127, 255),
    cyan: (0, 184, 219),
    indigo: (97, 95, 255),
    purple: (173, 70, 255),
    gray: (190, 190, 190),
);

$section-colors-light: (
    red: (251, 44, 54),
    yellow: (239, 177, 0),
    green: (0, 201, 81),
    blue: (43, 127, 255),
    cyan: (0, 184, 219),
    indigo: (97, 95, 255),
    purple: (173, 70, 255),
    gray: (190, 190, 190),
);

:root {
    --variable-background: #f5f5f5;
    /* L97 S50*/
    --variable-text-primary: #000000e5;
    /* L58 S600*/

    --tooltip-icon: #7f7f7f;
    --button-disabled: #cacaca;

    --fg-focus: #0d99ff;

    --cy-border-light: #d5d5d5;
    --cy-border-dark: #a0a0a0;

    --cy-border-radius-xxxlarge: 14px;
    --cy-border-radius-xxlarge: 12px;
    --cy-border-radius-xlarge: 10px;
    --cy-border-radius-large: 8px;
    --cy-border-radius-medium: 6px;
    --cy-border-radius-small: 4px;

    --tab-bar-bg: #fff;
    --tab-bar-icon: black;

    --cy-button-height-xlarge: 44px;
    --cy-button-height-large: 40px;
    --cy-button-height-medium: 36px;
    --cy-button-height-small: 32px;

    --color-bg-selected: #e5f4ff;

    --drop-shadow-1: 0px 4px 4px 1px rgba(0, 0, 0, 0.04), 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 2px -2px rgba(0, 0, 0, 0.8);
    --drop-shadow-2: 0px 8px 8px 4px rgba(0, 0, 0, 0.03), 0px 4px 4px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px -4px rgba(0, 0, 0, 0.4);
    --drop-shadow-3: 0px 12px 16px 8px rgba(0, 0, 0, 0.1), 0px 6px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 8px -8px rgba(0, 0, 0, 0.4);

    --blur-1: blur(16px);

    --cy-animation-default: all 0.3s;

    --cy-glass-color-1: rgba(0, 0, 0, 0.05);
    --cy-glass-color-2: rgba(0, 0, 0, 0.1);

    @include colorPalette();

    --cy-text-color-special: var(--cy-purple-600);

    --cy-bg-primary-dark-elevated: var(--figma-color-bg-primary);
    --cy-bg-secondary-dark-elevated: var(--figma-color-bg-secondary);
}

@media (prefers-color-scheme: dark) {
    :root {
        --variable-background: #682f4c;
        /* L39 S900*/
        --variable-text-primary: #fce8f1;
        /* L95 S100*/

        --tooltip-icon: #bfbfbf;
        --button-disabled: #656565;

        --fg-focus: #0c8ce9;

        --figma-color-text: #ebebeb;

        --cy-border-light: #5b5b5b;
        --cy-border-dark: #aaaaaa;

        --tab-bar-bg: #2c2c2c;
        --tab-bar-icon: white;

        --color-bg-selected: #4a5878;

        --cy-glass-color-1: rgba(255, 255, 255, 0.05);
        --cy-glass-color-2: rgba(255, 255, 255, 0.1);

        --cy-text-color-special: var(--cy-purple-400);

        --cy-bg-primary-dark-elevated: var(--figma-color-bg-secondary);
        --cy-bg-secondary-dark-elevated: #535353;
    }
}