:root {
    --variable-background: #f5f5f5;
    /* L97 S50*/
    --variable-text-primary: #000000e5;
    /* L58 S600*/

    --tooltip-icon: #7f7f7f;
    --button-disabled: #cacaca;

    --fg-focus: #0d99ff;

    --cy-border-light: #d5d5d5;
    --cy-border-dark: #a0a0a0;

    --cy-border-radius-xxxlarge: 14px;
    --cy-border-radius-xxlarge: 12px;
    --cy-border-radius-xlarge: 10px;
    --cy-border-radius-large: 8px;
    --cy-border-radius-medium: 6px;
    --cy-border-radius-small: 4px;

    --tab-bar-bg: #fff;
    --tab-bar-icon: black;

    --cy-button-height-xlarge: 44px;
    --cy-button-height-large: 40px;
    --cy-button-height-medium: 36px;
    --cy-button-height-small: 32px;

    --color-bg-selected: #e5f4ff;

    --drop-shadow-1: 0px 5px 12px 4px rgba(0, 0, 0, 0.09), 0px 3px 6px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px -2px rgba(0, 0, 0, 0.16);
    --drop-shadow-2: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
    --drop-shadow-3: 0px 12px 48px 16px rgba(0, 0, 0, 0.03), 0px 9px 28px 0px rgba(0, 0, 0, 0.05), 0px 6px 16px -8px rgba(0, 0, 0, 0.08);

    /* spaciiing色盤 color palette */

    /* cy-purple */
    --cy-purple-50: #f6f4ff;
    --cy-purple-100: #efebff;
    --cy-purple-200: #e0d7ff;
    --cy-purple-300: #c3afff;
    --cy-purple-400: #ac8aff;
    --cy-purple-500: #9a67fe;
    --cy-purple-600: #8d41ff;
    --cy-purple-700: #7522dd;
    --cy-purple-800: #6317bd;
    --cy-purple-900: #52169f;
    --cy-purple-950: #370f6c;
}

@media (prefers-color-scheme: dark) {
    :root {
        --variable-background: #682f4c;
        /* L39 S900*/
        --variable-text-primary: #fce8f1;
        /* L95 S100*/

        --tooltip-icon: #bfbfbf;
        --button-disabled: #656565;

        --fg-focus: #0c8ce9;

        --figma-color-text: #ebebeb;

        --cy-border-light: #5b5b5b;
        --cy-border-dark: #aaaaaa;

        --tab-bar-bg: #2c2c2c;
        --tab-bar-icon: white;

        --color-bg-selected: #4a5878;
    }
}